/* css reset */
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    color: rgb(42, 90, 134);
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
}

blockquote {
    margin: 0 0 0 30px;
    font-style: italic;
}

h1,
h2,
h3 {
    font-family: Merriweather, Impact, Serif;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}